@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*
1. posicionamiento
2. modelo caja (box model)
3.tipografia
4.visuales
5. miselanius u otros
*/

/* variables */
:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: rgb(14, 121, 221);
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --yellow:  yellow;
    --pink: #ee82ee;
    --gris:grey;

}

/* reset de la configuración por default */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif ;
    background-color: var(--secondary-blue);
    

}
header{
    position: relative ;
    display: flex;
    flex-direction:  column;
    justify-content:  left;
    width: 100%;
    min-width: 320px;
    
    
    }


h1{
    display: block;
    color: white;
    font-size: x-large;
    margin-top: 20px;
    padding-top: 3rem;
    padding-left: 5rem;
    margin-bottom: 3rem;
    min-width: 320px;

}





.main-nav{
    list-style-type: circle;
    padding-right: 0px;
    text-align: end;
    width: 90%;
    min-width: 320px;
   justify-content: space-between;
    font-size: 2rem;
    display:inline-block;

}

.main-nav li{
    display: inline-block;
}

.main-nav a{
    color:var(--off-white);
    display: flex;
    padding: 1.5rem;
    border-radius:15px;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;

}

.main-nav a:hover{
    background-color:black;
}