@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*
1. posicionamiento
2. modelo caja (box model)
3.tipografia
4.visuales
5. miselanius u otros
*/

/* variables */
:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: rgb(14, 121, 221);
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --yellow:  yellow;
    --pink: #ee82ee;
    --gris:grey;
    --black-blue: #021966e1;

}

/* reset de la configuración por default */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif ;
    background-color: var(--black-blue);
    

}
header{
    position: relative ;
    display: flex;
    flex-direction:  column;
    justify-content:  left;
    width: 100%;
    min-width: 320px;
    
    
    }

h1{
    display: block;
    color: white;
    background-color: var(--warm-black);
    font-size: x-large;
    margin-top: 10px;
    padding-top: 2rem;
    padding-left: 5rem;
    margin-bottom: 5rem;
    min-width: 320px;

}

.main-nav{
    list-style-type: circle;
    padding-right: 0px;
    text-align: end;
    width: 90%;
    min-width: 320px;
   justify-content: space-between;
    font-size: 2rem;
    display:inline-block;

}

.main-nav li{
    display: inline-block;
}

.main-nav a{
    color:var(--off-white);
    display: flex;
    padding: 1.5rem;
    border-radius:15px;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    transition: background-color 0.5s ease;
}

.main-nav a:hover{
    background-color:black;
}


#menu, #menu-check{
    display: none;
}

/* seccion de inicio */



.info-content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    justify-items: start;
    align-items: center;
    
}


.info-content .item{
    width: 85%;
    padding: 10px;
    color:var(--grey)
}


.info-content .item2{
    width: 85%;
    height: 100%;
    margin:0 auto;
    padding: 20px;
    object-fit: contain;
    background-image: url('./imagenes/ndvim.png');
    border-radius: 5px;
}

.item2 span{
    color: var(--just-white);
}



.main h1{
    padding-left: 0rem;
    background-color: #bababa;
    padding-top: 10px;


}

.main p{
    
    font-size: 20px;
   
}

.main li{
    margin-top: 2rem;
    margin-left: 30px;
    font-size: 15px;
}

span{
    color:black;
}

/*estilos para el boto de descarga del cv*/
.download-cv{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background-color: var(--bitcoin-orange);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-cv:hover {
    background-color: var(--soft-orange);
}
/* seccion */

.about{
    padding-top: 70px;
    font-size: 1.5rem;
    width: 100%;
    height: 60vh;
    margin: 5px auto;
    min-width: 300px;
    color: var(--grey);
    text-align:justify;
}
.about h2{
    font-size: 30px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color:var(--off-white);
}
.about p{
    padding: 10px;
}

/* seccion de habilidades */
.about h3{
    font-size: 20px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color:var(--off-white);
}
.img-container {
    margin-top: 30rem;
    display:grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 150px;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items:center;
    background-size: 20px;
    width:90%;
    margin: 2% auto;
    color: #fff;
    
}

.img-container img:hover{
    background-color:black;
}
.img-container p:hover{
    background-color:black;
}
/* proyectos */

.main-projects{
    
    width: 100%;
    height: 60vh;
    min-width: 320px;
    text-align: center;
    margin: 10px auto;
}



.project--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
}

.project--title h2 {
    
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--off-white);
}

::-webkit-scrollbar {
    display: none;
} 

.project-container-slider{
    display:flex;
    gap:100px;
    height: 500px;
    overflow-x:scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type:x proximity;
}  
.project-container--card{
    position:relative; 
    scroll-snap-align: initial;
    width: 90%;
    min-width: 230px;
    max-width: 350px;
    height: 300px;
    margin:50px auto 0;
    padding: 0 15px;
    
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.16); */
    
    text-align: center;
    align-items: initial;
}
.project--title--a{
    position: absolute;
    width:120px;
    height: 45px;
    font-size: 12px;
    top:-50px;
    left:calc(50% - 60px) ;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color:var(--warm-black);
    justify-content: center;
    align-items: center;
   
}
 .project-description {
    position: relative;
    top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    align-content: center;
    color:var(--off-white);
    
} 
.project-description--ca{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--warm-black);
    color: var(--just-white);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.project-description--ca:hover {
    background-color: var(--black-blue);
}

.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 200px;
    
    color:var(--just-white);
    margin-top: 150px;
}
.footer-content h2{
    font-size: 1.8rem;
    top: 5px auto;
}
.footer-content h3{
   font-size: 1.5rem; 
   top: 5px;
}
.social{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 100px;
    margin-top: 1rem;
    color:black;
}

.social a{
    font-size: 30px;
    justify-content: space-evenly;
    color: black;
    margin-top: 20px;
}

/* medias queries */

@media screen and (max-width:768px) {
    
    #menu-check:not(:checked) ~ nav{
        display:none;
    }
    
    #menu-check:checked ~ nav{
        display: block;
    }

    #menu{
        display: block;
        color: white;
        background-color: var(--off-white);
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        right: 0.5em;
        top:8rem
    }

    #menu-cerrar{
        display: none;

    }

    #menu-check:checked ~ label #menu-abrir{
        display:none;
    }

    #menu-check:checked ~ label #menu-cerrar{
        display:block;
    }

    .main-nav {
        display: inline-flex;
        flex-direction: column;
    }
    .info-content{
        grid-template-columns: 1fr;
        
    }
    .info-content .item2{
        margin-top: 150px;

    }

    .img-container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: none;
    }
}

