@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*
1. posicionamiento
2. modelo caja (box model)
3.tipografia
4.visuales
5. miselanius u otros
*/

/* variables */
:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: rgb(14, 121, 221);
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --yellow:  yellow;
    --pink: #ee82ee;
    --gris:grey;

}

/* reset de la configuración por default */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif ;
    background-color: var(--secondary-blue);
    

}
header{
    position: relative ;
    display: flex;
    flex-direction:  column;
    justify-content:  left;
    width: 100%;
    min-width: 320px;
    
    
    }


h1{
    display: block;
    color: white;
    font-size: x-large;
    margin-top: 20px;
    padding-top: 3rem;
    padding-left: 5rem;
    margin-bottom: 3rem;
    min-width: 320px;

}





.main-nav{
    list-style-type: circle;
    padding-right: 0px;
    text-align: end;
    width: 90%;
    min-width: 320px;
   justify-content: space-between;
    font-size: 2rem;
    display:inline-block;

}

.main-nav li{
    display: inline-block;
}

.main-nav a{
    color:var(--off-white);
    display: flex;
    padding: 1.5rem;
    border-radius:15px;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;

}

.main-nav a:hover{
    background-color:black;
}

/* seccio de inicio */



.info-content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows:300px;
    
    justify-content:center;
    justify-items: left;
    min-width: 320px;
    justify-content: start;
    align-items: center;
    
}



.info-content .item2{
    width: 100%;
    height: 100%;
    margin:0 auto;
    object-fit: contain;
    background-image: url('./imagenes/ndvim.png');
}

.item2 span{
    color: var(--just-white);
}



.main h1{
    padding-left: 0rem;
    background-color: #bababa;
    padding-top: 10px;


}


.main p{
    
    font-size: 20px;
   
}

.main li{
    margin-top: 2rem;
    margin-left: 30px;
    font-size: 15px;
}




span{
    color:black;
}

.download-cv{
    padding:10px 20px;
    background-color: salmon;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    margin-top: 2rem;
    
}


/* medias queries */

@media screen and (max-width:768px) {
    .info-content{
        grid-template-columns: 1fr;
        
    }
    .info-content .item2{
        margin-top: 150px;

    }
    
}

