@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*
1. posicionamiento
2. modelo caja (box model)
3.tipografia
4.visuales
5. miselanius u otros
*/

/* variables */
:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: rgb(14, 121, 221);
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --yellow:  yellow;
    --pink: #ee82ee;
    --gris:grey;
    --black-blue: #021966e1;

}


body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--black-blue);
    margin: 0;
    padding: 0;
}

header {
    background-color: #282623;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.projects-container {
    display: flex;
    flex-direction: column; /* Cambia a columna */
    align-items: center; /* Centra los elementos */
    padding: 20px;
}

.project-card {
    display: flex; /* Usa flexbox para alinear la imagen y la descripción */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px 0; /* Espaciado entre proyectos */
    width: 80%; /* Ancho de los cuadros */
}

.project-card img {
    width: 300px; /* Ancho fijo para la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.project-description {
    padding: 20px; /* Espaciado interno para la descripción */
}

.project-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.project-card p {
    font-size: 1rem;
    color: #555;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f7931a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #d67c1a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #282623;
    color: white;
}