* {
    box-sizing:border-box;
    padding:0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
    background-color:rgb(14, 121, 221);
    color: #fff;
}

h1{
    text-align: center;

}


.main,
.about,

.img-container,
.caption,
.portfolio,
.footer,
.container,
.contact,
.picture{
    width: 100%;     
    min-width: 160px; /*esto es el minimi de px en el diseño del telefon */
    height: 250px;
    display:inline-flexbox;
    flex-wrap: wrap;
}

/*  barra de navegacion*/
.main-nav {
    
    list-style-type: circle;
    padding: 10%;
    text-align: center;
    font-size: medium;
    
   justify-content: space-between;
}

.main-nav li{
    display:inline-block;
    padding-left: 10px;

}

.main-nav a{
    color:#fff;
}

.main-nav a:hover{
    background-color:black;
}

/* main*/

.main{
    background-color: burlywood;
    text-align:left;
    font-size: medium;
    height: 500px;
    margin-left: 0rem;
    padding-left: 2rem;
}

.main p{
    font-size: 25px;
    padding: 1.5rem;
   
}

.main li{
    margin-top: 1rem;
    padding: .5rem;
    font-size: 15px;
}

.download-cv{
    padding:10px 20px;
    background-color: salmon;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 10px;    
}
.picture img{
    width: 25%;
    margin-left:10rem ;
   
    border-radius: 350px;
}

.about{
    background-color: black;
    font-size: 15px;
    text-justify: auto;
}
.img-container{
    background-color: green;

}
.portfolio{
    background-color: blue;
}
.container{
    background-color: blueviolet;
}

.contact{
    background-color: orangered;
}
